<div class="user">
          <div class="tech">
            <h2>Language</h2>
            <img src="/assets/icon/java.png" alt="대체 텍스트" width="60" height="60">
            <img src="/assets/icon/html.png" alt="대체 텍스트" width="60" height="60">
            <img src="/assets/icon/css.png" alt="대체 텍스트" width="60" height="60">
            <img src="/assets/icon/js.png" alt="대체 텍스트" width="60" height="60">
            <img src="https://kim-phantom.github.io/assets/icon/python.png" alt="대체 텍스트" width="60" height="60">
           
          </div>
          <div class="tech">
            <h2>OS</h2>
            <img src="/assets/icon/linux.png" alt="대체 텍스트" width="60" height="60">
           
          </div>
          <div class="tech">
            <h2>Tools</h2>
            <img src="/assets/icon/eclipse.png" alt="대체 텍스트" width="60" height="60"> 
            <img src="/assets/icon/visual%20studio.png" alt="대체 텍스트" width="60" height="60"> 
            <img src="/assets/icon/pycham.png" alt="대체 텍스트" width="60" height="60"> 
            <img src="/assets/icon/github.png" alt="대체 텍스트" width="60" height="60"> 

           
          </div>
          <div class="tech">
            <h2>Library</h2>
            <img src="/assets/icon/bootstrap.png" alt="대체 텍스트" width="60" height="60"> 
            <img src="/assets/icon/sts.png" alt="대체 텍스트" width="60" height="60">
           
          </div>
          <div class="tech">
            <h2>Database</h2>
            <img src="/assets/icon/oracle.png" alt="대체 텍스트" width="60" height="60"> 
           
          </div>
            
</div>
