<h2 class="section-heading" style="font-size: 3em; text-align: center;">Active</h2>
<div class="user" style="display: flex; justify-content: center; flex-wrap: wrap; margin-top: 20px;">
    <div class="col-lg-4 col-md-6 portfolio-item filter-Spring" style="width: 30.33333333%; margin: 10px;">
        <div class="portfolio-links">
            <a href="http://lms-y.kro.kr/lms/login" target="_blank"><img src="assets/img/portfolio-1.png" class="img-fluid" alt=""></a>
            <h4><a class="portfolio-links" href="https://github.com/goodee-project/LMS-Y" target="_blank"></a></h4>
            <h4>계룡건설 Green Tech SW 개발자 과정</h4>
            <hr>
            <p><strong>교육 기간 :</strong> 2023.07 ~ 2023.12(5.5개월)</p>
            <hr>
            <p><strong>프로젝트 방식 :</strong> 교육, 수업</p>
            <p><strong>사용 언어 :</strong> Html, Eclipse, Java, SQL, JavaScript(jquery), Github, JSTL, bootstrap, Spring-tool-suite, Visual studio code, python, pycharm</p>
            <hr>
            <p>
                <strong>[교육 설명]</strong><br>
                개발자가 써야하는 기본 언어를 배우고 <br>
                2050 탄소중립 시나리오에 발맞추어 환경문제와 관련된 소프트웨어 기술을 습득 하고
                이를 활용하여 지속가능한 녹색 기술을 개발하는 인재를 양성하는 교육과정입니다.<br>
                기본적인 지식을 배우며 팀원과의 활동이 많아 사회성도 배울수있는 좋은 기회였습니다.
            </p>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 portfolio-item filter-Spring" style="width: 30.33333333%; margin: 10px;">
        <div class="portfolio-links">
            <a href="http://baebae98.kro.kr/cash/" target="_blank"><img src="assets/img/portfolio-2.png" class="img-fluid" alt=""></a>
            <h4><a class="portfolio-links" href="https://github.com/baebae98/cashbook" target="_blank">[Github Link]</a></h4>
            <h4>개인 프로젝트 - 애니몰리</h4>
            <hr>
            <p><strong>프로젝트 기간 :</strong> 2023.10 ~ 2023.11 (1개월)</p>
            <hr>
            <p><strong>사용 프로그램 :</strong> oracles, Spring-tool-suite, Visual studio code</p>
            <p><strong>사용 언어 :</strong> Html, Java, SQL, JavaScript(jquery), bootstrap</p>
            <hr>
            <p>
                <strong>[프로젝트 설명]</strong><br>
                저의 첫 프로젝트로 아직까지 진행중에 있습니다.<br>
                첫 프로젝트여서 어려운 부분이 많아 공부하면서 천천히 만들어 나아가고 있습니다.<br>
                애니몰리 라는 이름은 동물들의 모임 이라는 생각에 지은이름으로 프로젝트는<br>
                반려인에 맞춘 웹을 만들려고 합니다. 병원, 놀이터, 질문게시판, 아르바이트<br>
                를 여기서 찾고 사람들이 많이 키우지 않아 병원이나, 질문을 게시판을 통해<br>
                사람들과 소통으로 손쉽게 접근할수있게 만들었습니다.
            </p>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 portfolio-item filter-Eclipse" style="width: 30.33333333%; margin: 10px;">
        <div class="portfolio-links">
            <a href="http://baebae98.kro.kr/sakila/LoginServlet" target="_blank"><img src="assets/img/portfolio-3.png" class="img-fluid" alt=""></a>
            <h4><a class="portfolio-links" href="https://github.com/baebae98/sakila" target="_blank">[Github Link]</a></h4>
            <h4>팀 프로젝트 - GTA(Green Tech Architecture)</h4>
            <hr>
            <p><strong>프로젝트 기간 :</strong> 2023.11 ~ 2023.12(1개월)</p>
            <hr>
            <p><strong>Machin learning :</strong> Python, Jupyter, Pycharm</p>
            <p><strong>Front-end :</strong> Html, CSS, Java script</p>
            <p><strong>Back-end :</strong> oracle</p>
            <p><strong>CI/CD :</strong> SVN, Jenkins</p>
            <p><strong>Collavorative :</strong> Jira Software, Git, Github</p>
            <p><strong>Was :</strong> Apache Tomcat, Maven, Spring MVC</p>
            <p><strong>Dev :</strong> Ubuntn, Linux</p>
            <hr>
            <p>
                <strong>[프로젝트 설명]</strong><br>
                환경문제를 생각해 온실가스를 줄이고자 만든 프로젝트입니다.<br>
                온실가스 배출량을 조사하여 건물에너지가 제일 많다는것을 알고
                건물에너지 사용량을 줄이고자 제어, 관리, 운영 프로그램을 만들어 건물 관리자가 에너지 사용현황, 에너지 사용금액, 을 저번달과 비교하여
                화면에 보여주고 현제 실시간으로 에너지가 얼마나 쓰이고있는지 건물 어디에 쓰이고 있는지 알수있게 만들었습니다.
            </p>
        </div>
    </div>
</div>
