<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>난 도전했고, 도전에는 용기가 필요하다</h1>
    <h3>freedomfromoppression</h3>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">김기찬</a>
  </div>
  <div class="header-icons">
    <a aria-label="Send email" href="mailto:rhfepssl@naver.com">
      <i class="icon fa-envelope">
      </i>
    </a>
    <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/1_gc11/">
      <i calss="icon fa fa-instagram" aria-hidden="true">
        <a aria-label="My Github" target="_blank" href="https://github.com/freedomfromoppression">
          <i class="icon fa fa-github-alt" aria-hidden="true"></i>
        </a>
      </i>
    </a>
  </div>
</header>
